# FinanceDataReader

In [ ]:
!pip install finance-datareader
import FinanceDataReader as fdr

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting finance-datareader
  Downloading finance_datareader-0.9.42-py3-none-any.whl (17 kB)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from finance-datareader) (4.9.1)
Requirement already satisfied: pandas>=0.19.2 in /usr/local/lib/python3.7/dist-packages (from finance-datareader) (1.3.5)
Collecting requests-file
  Downloading requests_file-1.5.1-py2.py3-none-any.whl (3.7 kB)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from finance-datareader) (4.64.1)
Requirement already satisfied: requests>=2.3.0 in /usr/local/lib/python3.7/dist-packages (from finance-datareader) (2.23.0)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->finance-datareader) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->finance-datareader) (2022.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->finance-datareader) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.19.2->finance-datareader) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance-datareader) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance-datareader) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance-datareader) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance-datareader) (2022.9.24)
Installing collected packages: requests-file, finance-datareader
Successfully installed finance-datareader-0.9.42 requests-file-1.5.1

- StockListing에 들어갈 수 있는 다양한 Market
    - KRX ( KOSPI, KOSDAQ, KONDEX)
    - NASDAQ, NYSE, S&P500

In [ ]:
krx_data=fdr.StockListing('KRX')
krx_data.head()

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,전자부품 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,김세완,http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,"박대현, 손삼달",http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도

In [ ]:
snp_data = fdr.StockListing('S&P500')
snp_data.head()

  Symbol         Name       Sector                  Industry
0    MMM           3M  Industrials  Industrial Conglomerates
1    AOS  A. O. Smith  Industrials         Building Products
2    ABT       Abbott  Health Care     Health Care Equipment
3   ABBV       AbbVie  Health Care           Pharmaceuticals
4   ABMD      Abiomed  Health Care     Health Care Equipment

In [ ]:
print(krx_data.loc[krx_data.Name == 'NAVER', ['Symbol']])
# krx_data에서 Name 칼럼의 값이 "naver"인 행의 Symbol칼럼 값을 가져오기
naver_symbol = krx_data.loc[krx_data.Name == 'NAVER', ['Symbol']].values[0][0]
naver_symbol

      Symbol
1565  035420

'035420'

In [ ]:
# 2018년부터 2020년까지
naver_df = fdr.DataReader(naver_symbol, '2018', '2020')
naver_df

              Open    High     Low   Close  Volume    Change
Date
2018-01-02  174447  177251  174247  177251   93587  0.017240
2018-01-03  175448  177051  173045  174447   84790 -0.015819
2018-01-04  176048  179653  174847  178853  130112  0.025257
2018-01-05  178852  183858  176249  181857  136811  0.016796
2018-01-08  183258  190869  181856  190269  196338  0.046256
...            ...     ...     ...     ...     ...       ...
2019-12-23  185000  185500  182000  184000  250256  0.002725
2019-12-24  184000  184000  179000  182000  193440 -0.010870
2019-12-26  181500  183000  179000  180500  173426 -0.008242
2019-12-27  182000  185000  179000  183500  323473  0.016620
2019-12-30  183500  190000  183500  186500  376541  0.016349

[490 rows x 6 columns]

In [ ]:
amzn_df = fdr.DataReader('AMZN', '2018','2020')
amzn_df

            Close   Open   High    Low       Volume  Change
Date
2018-01-02  59.45  58.60  59.50  58.53   53890000.0  0.0168
2018-01-03  60.21  59.41  60.27  59.41   62180000.0  0.0128
2018-01-04  60.48  60.25  60.79  60.23   60440000.0  0.0045
2018-01-05  61.46  60.88  61.46  60.50   70890000.0  0.0162
2018-01-08  62.34  61.80  62.65  61.60   85590000.0  0.0143
...           ...    ...    ...    ...          ...     ...
2019-12-24  89.46  89.69  89.78  89.38   17630000.0 -0.0021
2019-12-26  93.44  90.05  93.52  89.97  120490000.0  0.0445
2019-12-27  93.49  94.15  95.07  93.30  123780000.0  0.0005
2019-12-30  92.34  93.70  94.20  92.03   73550000.0 -0.0123
2019-12-31  92.39  92.10  92.66  91.61   50210000.0  0.0005

[503 rows x 6 columns]

In [ ]:
curr = fdr.DataReader('USD/KRW', '2000')
curr.head()

              Close     Open     High      Low  Volume  Change
Date
2000-01-03  1127.50  1128.50  1128.50  1127.50     0.0 -0.0070
2000-01-04  1122.50  1133.50  1133.50  1121.50     0.0 -0.0044
2000-01-05  1134.50  1126.50  1135.00  1124.50     0.0  0.0107
2000-01-06  1146.25  1137.25  1147.35  1132.75     0.0  0.0104
2000-01-07  1137.50  1152.50  1155.50  1136.50     0.0 -0.0076

In [ ]:
# key : 종목명 / value : symbol
dct = dict(fdr.StockListing('KRX')[['Name','Symbol']].values)

In [ ]:
import json

#위의 dict데이터를 json포맷으로 저장하고 불러오기
json.dump(dct, open('./stock2code.json','w'))
stock2code = json.load(open('./stock2code.json','r'))

# YahooFinance

- https://pypi.org/project/yahoo-finance/

In [ ]:
!pip install yahoo-finance
import yahoo_finance as yf

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yahoo-finance in /usr/local/lib/python3.7/dist-packages (1.4.0)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from yahoo-finance) (2022.4)
Requirement already satisfied: simplejson in /usr/local/lib/python3.7/dist-packages (from yahoo-finance) (3.17.6)

# Quandl

- 개인 API key 필요

퀀들(Quandl)은 캐나다 토론토의 데이터 공유 플랫폼 회사다. 특히 금융 데이터를 퀀들이 제공하는 API를 통해 손쉽게 제공받아 분석에 활용할 수 있다.

In [ ]:
!pip install quandl
import quandl

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting quandl
  Downloading Quandl-3.7.0-py2.py3-none-any.whl (26 kB)
Collecting inflection>=0.3.1
  Downloading inflection-0.5.1-py2.py3-none-any.whl (9.5 kB)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from quandl) (2.8.2)
Requirement already satisfied: requests>=2.7.0 in /usr/local/lib/python3.7/dist-packages (from quandl) (2.23.0)
Requirement already satisfied: numpy>=1.8 in /usr/local/lib/python3.7/dist-packages (from quandl) (1.21.6)
Requirement already satisfied: pandas>=0.14 in /usr/local/lib/python3.7/dist-packages (from quandl) (1.3.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from quandl) (1.15.0)
Requirement already satisfied: more-itertools in /usr/local/lib/python3.7/dist-packages (from quandl) (8.14.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.14->quandl) (2022.4)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (2022.9.24)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (2.10)
Installing collected packages: inflection, quandl
Successfully installed inflection-0.5.1 quandl-3.7.0

In [ ]:
df_gold = quandl.get("LBMA/GOLD", trim_start="2021-01-01", trim_end="2022-10-10")
df_gold.head()

            USD (AM)  USD (PM)  GBP (AM)  GBP (PM)  EURO (AM)  EURO (PM)
Date
2021-01-04   1930.80   1943.20   1411.22   1429.61    1570.71    1581.76
2021-01-05   1946.55   1940.35   1432.47   1426.93    1584.88    1582.74
2021-01-06   1957.20   1931.95   1433.65   1423.27    1586.11    1570.10
2021-01-07   1911.05   1920.10   1406.34   1415.11    1559.23    1566.03
2021-01-08   1891.30   1862.90   1391.81   1371.28    1545.19    1521.06

# OpenDartReader

- OpenDartReader는 금융감독원 전자공시 시스템의 "Open DART"서비스 API를 손쉽게 사용할 수 있도록 돕는 오픈소스 라이브러리
- https://github.com/FinanceData/OpenDartReader

In [ ]:
!pip install opendartreader
import OpenDartReader